@{
    ViewBag.Title = "SignUp Form with DataBase example";
}
<h2>@ViewBag.Title.</h2>
<h3>Application description</h3>

<p>This is a ASP.Net MVC application with database connection. This application shows how a simple registration form data
    is sent and written to a database. It also retrieves data from the database and displays it in View Employees.
    This application was created using an example from youtube channel IAmTimCorey and example ASP.NET MVC DAta Access in C# - The complete data path from database to display and back.</p>
